* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

header {
    text-align: center;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    padding: 0.8em;
}

nav li a {
    color: white;
}

.links :hover {
    opacity: 0.9;
}

#back {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    /* width: 60px; */
}